<!-- <header>
  <span>Bookers</span>
    <nav>
      <ul class="nav-bar">
        <li><a>Home</a></li>
        <li><a>About</a></li>
        <li><a>Sign up</a></li>
        <li><a>Log in</a></li>
      </ul>
    </nav>
</header> -->

  <div class='body'>
    <div class='container'>
      <h1>Welcome to <span class='glyphicon glyphicon-book'></span><strong>Bookers</strong>!</h1>
    </div>
  </div>


<!-- <footer>
  <div class="copyright">
    <p>CopyRight Infratop.inc</p>
  </div>
</footer> -->